.header {
  width: 100%;
  position: absolute;

  padding-bottom: 10px;
  padding-top: 10px;
}

.header__wrapper {
  position: relative;
  padding-top: 2%;
  padding-left: 3.7%;
  padding-right: 3.7%;
}

.main-logo {
  @extend %clear-link;

  float: left;

  color: $color-regular-white;

  width: 120px;
  height: 38px;

  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
}
