@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {
  .button {
    font-size: $font-size-button;
  }

  .portfolio__filter-list {
    width: auto;
  }
  .portfolio__filter-item {
    &:not(:nth-last-of-type(1)) {
      margin-right: 6px;
    }

    &:not(:nth-last-of-type(2)) {
      margin-bottom: 0px;
    }
  }
}

@media only screen and (min-width: 580px) {
  %single-item {
    display: inline-block;
    width: 260px;

    &:nth-last-of-type(-n + 2) {
      margin-bottom: 0;
    }

    &:nth-of-type(2n-1) {
      margin-right: 2%;
    }
  }

  .banner__title {
    font-size: $font-size-banner-title * 0.7;
  }

  .section__title {
    font-size: $font-size-section-title;
  }

  .services__list {
    width: 100%;
    max-width: 760px;
  }

  .team__list {
    width: 100%;
    max-width: 760px;
  }

  .skills__list {
    width: 100%;
    max-width: 760px;
  }

  .footer-socials__list {
    font-size: $font-size-section-item-name * 0.6;
  }

  .footer-socials__item {
    width: auto;

    &:not(:nth-last-of-type(1)) {
      margin-right: 5%;
    }
  }
}

@media only screen and (min-width: 768px) {
  %single-item {
    display: inline-block;
    width: 35%;

    &:nth-of-type(2n-1) {
      margin-right: 15%;
    }
  }

  %double-item {
    width: 49%;

    &:nth-of-type(2n-1) {
      float: left;
    }

    &:nth-of-type(2n) {
      float: right;
    }

    &:not(:nth-last-of-type(-n + 2)) {
      margin-bottom: 5.4%;
    }

    &:nth-last-of-type(-n + 2) {
      margin-bottom: 0;
    }
  }

  .navigation {
    /*     position: absolute;
    right: 8px;
    bottom: 0px; */
    width: initial;
  }

  .banner__content-wrapper {
    /*     padding-top: 20.8%; */
  }

  .main-menu__icon {
    display: none;
  }

  .main-menu {
    display: initial;
    position: static;
  }

  .main-menu__item {
    display: inline-block;
    &:not(:nth-last-of-type(1)) {
      margin-right: 13px;
    }
  }

  .main-menu__link {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .banner__title {
    font-size: $font-size-banner-title * 0.8;
  }

  .opinions__list {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-form__name {
    width: 48.1%;
    float: left;
  }

  .contact-form__email {
    width: 48.1%;
    float: right;
  }

  .footer-socials__list {
    font-size: $font-size-section-item-name * 0.8;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1140px) {
  %single-item {
    width: 23.6364%;

    &:nth-of-type(n) {
      margin-bottom: 0;
    }

    &:not(:last-of-type) {
      margin-right: 1.8182%;
    }
  }

  .banner__title {
    font-size: $font-size-banner-title;
  }

  .services {
    .services__list {
      max-width: 100%;
    }
  }

  .team__list {
    max-width: 100%;
  }

  .skills__list {
    max-width: 100%;
  }

  .portfolio__list {
    max-width: 100%;
  }

  .opinions__list {
    max-width: 100%;
  }

  .opinions__item {
    max-width: 511px;

    &:not(:nth-last-of-type(-n + 2)) {
      margin-bottom: 13.3%;
    }
  }

  .opinions__photo {
    float: left;
    margin-left: 0px;
    margin-right: 44px;
  }

  .opinions__item-wrapper {
    display: inline-block;
    max-width: 346px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .opinions__description {
    text-align: left;
  }

  .opinions__name {
    text-align: left;
  }

  .opinions__position {
    text-align: left;
  }

  .footer-socials__list {
    font-size: $font-size-section-item-name;
  }

  .footer-socials__item {
    &:not(:nth-last-of-type(1)) {
      margin-right: 5.9%;
    }
  }
}

@media only screen and (min-width: 1280px) {
}
@media print,
  (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
}
