.intro {
  text-align: center;
  color: $color-regular-dark;
}

.intro__paragraph-regular {
  text-align: justify;
}

.intro__challenge {
  text-align: justify;
}

.intro__clarification {
  text-align: justify;
}

.intro__explanation {
  text-align: justify;
}
