.intro {
  text-align: center;
  color: $color-regular-dark;
}

.intro__first-block-wrapper {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.intro__first-block-background {
  width: 100%;
  max-width: 800px;
  max-height: 800px;
}

.intro__first-block-content-wrapper {
  width: 27%;
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro__first-block-question {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: $font-section-subtitle;
}

.intro__first-block-content {
  text-align: center;
  font-size: 16px;
}

.intro__challenge {
  width: 35%;
  text-align: center;
}

.intro__explanation {
  text-align: justify;
}

