.program {
  background-color: $color-dark-pale;
  color: $color-regular-white;
  text-align: center;
}

.program__title {
  // font-family: $font-bold;
  // font-size: $font-size-section-title;
  // line-height: regular;
}

.program__paragraph-regular {
}

.program__content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.program__conditions-list {
  @extend %clear-list;
  flex-basis: 54%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  background-color: $color-bg-banner-green;
  padding: 10px 30px;
}

.program__conditions-item {
  color: $color-regular-dark;
  text-align: right;
  font-size: 36px;
  font-weight: 700;
}

.program__conditions-emphasise {
  color: $color-regular-white;
}

.program__important {
  flex-basis: 44%;
}

.program__important-title {
  font-family: $font-section-subtitle;
  font-size: $font-size-section-subtitle;
  font-weight: 700;
  margin-bottom: 30px;
}

.program__important-list {
  @extend %clear-list;
}

.program__important-item {
  display: flex;
  align-items: center;
  position: relative;
  height: 130px;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 120px;
    height: 130px;
    position: absolute;
    left: 0;
    background-color: $color-program-values-list-border;
  }

  &:hover {
    &::before {
      background-color: $color-regular-white;
      // transform: scale(1.1);
    }
  }
}

.program__important-icon {
  position: absolute;
  display: inline-block;
  left: 5px;
  top: -20px;
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  z-index: 5;
}

.icon__alarm {
  background-image: url("../img/icons/icon__alarm.png");
}

.icon__homework {
  background-image: url("../img/icons/icon__homework.png");
}

.icon__checklist {
  background-image: url("../img/icons/icon__checklist.png");
}

.program__important-content {
  position: relative;
  color: $color-regular-dark;
  padding-left: 70px;
  text-align: left;

  z-index: 5;
}
