.section {
  text-align: center;
}

.section__content-wrapper {
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  z-index: 1;
}

.section__title {
  display: block;
  position: relative;
  font-family: $font-section-title;
  font-size: $font-size-section-title;
  z-index: 5;
  text-transform: uppercase;

  &:nth-last-of-type(1) {
    margin-bottom: 30px;

    &::after {
      display: block;
      content: "";
      width: 70px;
      border-bottom: 1px solid #71B626;
      height: 4px;
      margin: 0 auto;
      padding-top: 20px


      // display: block;
      // content: '';
      // width: 149px;
      // height: 35px;
      // background-image: url('../img/section__underline.png');
      // background-size: contain;
      // background-repeat: no-repeat;
      // background-position: center;
      // margin: 0 auto;
      // padding-top: 20px
    }
  }
}

.section__title-empasise {
  color: #eb3007;
}

.section__subtitle {
  font-family: $font-section-subtitle;
  font-size: $font-size-section-subtitle;
  font-weight: 700;
  margin-bottom: 30px;
  z-index: 5;

  text-transform: uppercase;
}
