.theory-and-practice {
  background-color: $color-light-blue;
  overflow: hidden;

  .section__content-wrapper {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  // &:before {
  //   position: absolute;
  //   content: '';
  //   left: 0px;
  //   top: -120px;
  //   width: 50%;
  //   height: 556px;
  //   display: inline-block;
  //   background-image: url('../img/left-corner__background.png');
  //   background-repeat: no-repeat;
  // }
}

.theory-and-practice__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.theory-and-practice__list {
  @extend %clear-list;
  flex-basis: 48%;

  // display: flex;
  // justify-content: space-around;
  // margin-bottom: 30px;
}

.theory-and-practice__item {
  display: flex;
  align-items: center;
  position: relative;
  height: 130px;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 150px;
    height: 130px;
    position: absolute;
    right: 0;
    background-color: $color-program-values-list-border;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }
}

.theory-and-practice__icon {
  position: absolute;
  display: inline-block;
  right: 5px;
  top: -20px;
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  z-index: 5;
}

.theory-and-practice__content {
  position: relative;
  color: $color-regular-dark;
  padding-right: 70px;
  text-align: right;

  z-index: 5;
}

.theory-and-practice__item-emphasise {
  display: block;
  font-size: $font-size-theory-item-emphasise;
  font-weight: 700;
  margin-bottom: 5px;
}

.theory-and-practice__conclusion-wrapper {
  flex-basis: 48%;
  font-weight: 700;
  display: flex;
  align-items: center;
  background-color: $color-bg-banner-green;
  padding: 10px 30px;
}

.theory-and-practice__conclusion {
  color: $color-regular-dark;
  text-align: left;
  font-size: 30px;
}

.theory-and-practice__conclusion-emphasise {
  display: inline;
  color: $color-regular-white;
}


